<div class="container">
  <div class="row featurette">
    <div class="col-md-5">
      <%= image_tag "quinoa-pan.jpg", :class => "img-fluid mx-auto"%>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Delicious and nutritious. It's that simple.</h2>
      <%#<h2 class="featurette-heading">Delicious and nutritious.  Two delicious dishes. Prepared fresh daily.</h2>%>
      <p class="lead">We prepare our dishes each day using fresh seasonal ingredients.  All the ingredients, nutrition facts, and even the recipes are right there on the daily menu.</p>
    </div>
  </div>
</div>
