<div class="container-fluid">
  <div class="row featurette">
    <div class="col-md-7 green-bkgd">
      <%#<h2 class="featurette-heading">We're bringing value to the table. <span class="text-muted">And it's never tasted so good.</span></h2>%>
      <h2 class="featurette-heading">We're bringing value to the table.</h2>
      <%#<h2 class="featurette-heading">Bringing value to the table.</h2>%>
      <%#<p class="lead">Verde is the first restaurant with a commitment to nutritious and affordable food.  We're on a mission to provide the freshest, healthiest, and most delicious food you can find.</p>%>
      <p class="lead">Our menu is limited to just a few dishes each day.  This helps keep costs down and allows us to offer nutritious food for an average of four dollars per meal.</p> 
      <%#<p> We're on a mission to provide the freshest, healthiest, and most delicious food you can find.  And we're committed to it.</p>%>
      <%#<p class="lead">We're on a mission to provide the freshest, healthiest, and most delicious food you can find.  And we're committed to it.</p>%>
    </div>
    <div class="col-md-5 image-bleed">
      <%= image_tag "rice-dish.jpg", :class => "img-fluid mx-auto"%>
    </div>
  </div>
</div>
