Instituting change: Verde and the role of institutional buyers in the food system

verde as a new form of restaurant

farmers selling directly to institutions.  large buyers able to interface effectively with farmers directly unlike many restaurants.  


