h1 There's an app for that
p.lead The potential for technological integration in food service

p The modern day restaurant is a static entity.  It's menu offerings scarcely change from day to day, week to week, or even month to month.  

p This rigid consistency surely has its benefits in terms of specialization and efficiency but it also virtually guarantees that restaurants are disconnected from the overall food system.  With fixed menu offerings there is little opportunity to embrace the natural seasonality in ingredients, much less to capitalize upon it. 

h2 There's a restaurant for that

p To forge a model of food service that is truly in sync with the overall food system requires first revisiting the fundamentals of the restaurant business model.  To capitalize on the bounty of the seasons means necessarily to forego the sales from that which is not in season.  It requires not just the ability to specialize and innovate within narrow boundaries but then to able to adapt and refocus as those boundaries shift.  

p The Verde business model is a bold proposition which aims to do just that.  Through a minimal but carefully crafted menu of seasonal offerings, Verde has the potential to truly realize the potential of a restaurant in sync with the greater food system.  To do this, however, will require an investment in tools and technology.  It will require forecasting, tracking and analytics to thrive in the fluctuating, dyanmic

h2 There's an app for that

seasonal dining.  otating dishes proposes a In short, it requires a renaissance in  in  be not just a dynamicMoreover, 

h2 The dearth of technologically in 

In today's world of technological integration, it is strange to see an industry as ubiqitous as food service that is at the same time so technologically unsophisticated.  Generally speaking, the food service industry does not not drive technological innovation or even eagerly embrace what's there.

On the other hand, one could argue that the food service industry is brimming with opportunity for businesses that can capitalize on the dynamic nature of the food system, businessess that can adapt to seasonality and market fluctuations to maximize purchasing power, while at the same time being able to mitigate uncertainty and ensure a robust business model. 

Technology is the key ingredient needed to harness the potential of the complex and unpredictable food system.  New tools and technologies are needed to monitor the myriad inter-related factors of the food system and inform decision making.  It will require deep supply chain integration, flexible menu-planning and meticulous inventory management.  Indeed, it may even require a new approach to food service and a corresponding change in how we approach the food service business model. 

h2 There's a restaurant for that

p In addition to the obvious technological defecit in food service, there is a more fundamental obstacle that must be addressed before we can truly realize the vision of a restaurant that is in sync with the overall food system.  Quite simply, that is the restaurant itself. 

p Restaurants are static entities.  From week to week, month to month, and even year to year the menu offerings vary little if at all.  While this may offer some degree of benefits in areas such as kitchen specialization, it virtually ensures the disconnection between restaurants and the overall food system.  

p A new restaurant model is needed.  One that can embrace the natural seasonality and fluctuations in the market and in turn that can tap into the vast potential for technological integration in the industry.  This is the business model that Verde is pioneering.

h2 There's an app for that

p In effect, to embrace the complexity and uncertainty of the overall food system means to internalize some degree of that complexity and uncertainty into the business model itself.  The difficulty (and risk) in achieving that cannot be overstated.  

p The essence of the challenge is one of information management.  Uncertainty can never be removed but being able to identify and quantify the uncertainty allows informed decision making.  Drawing together information, identifying trends and effectively communicating is the goal of our technology. 

p This is why Verde is developing technology specifically designed for each level of the product cycle.  Our goal is to have our technology in the hands of each person that is part of our product cycle.  Our suite of four technologies encompass all the key phases of the product cycle.  

p At the supply-chain level, Open Season helps coordinate with our network of farmers and distributors to maximize purchaing power and freshness.  Dish Up, our menu planning software is used by our menu planning department to create menus that cater to seasonal ingredients and customer preferences.  In each Verde kitchen, you'll find Dash, our kitchen dashboard that helps schedule and track all the tasks that go into our actual production.  And finally, in the hands of our customers is the Verde App that helps us communicate with our customers and provides a valuable channel for feedback. 

h3 Open Season

The technology must start where the food system itself starts: at the farm level.  Up-to-date crop forecasts including geographic factors must be available to get the supply chain off on the right foot.

Open Season is a real-time network of farmers and food producers that allows 

Open Season allows Verde to interface with smaller and more local farms.  

While Verde uses Open Season internally to curate and manage its own network of suppliers, the platform itself is fully open-source and available to the general public.  Other restaurants and other wholesale purchasers are free to use it to see the availability of agricultural products, and moreover any agricultural producer is able to create an Open Season profile and be visible on the network. 

h3 Dish Up

p Dish Up is Verde's decision and analysis tool to help our chefs create menu offerings that maximize profits and customer satisfaction.

p Dish Up takes into account the ingredients and labor costs of each dish in our database.  On a deeper level, Menu Planner also gives our chefs a window into retail sales and overall customer preferences.  This allows Verde to tailor our menu to seasonal variations and customer preferences. 

p Dish Up employs the latest techniques in machine learning and data mining in order to optimize our menu offerings across a range of factors.  This includes the transportation logistics, regional and seasonal preferences and, of course, the costs of raw ingredients (as determined by Open Season). 

p Importantly, Dish Up doesn't just manage on a dish by dish basis.  Instead, it holistically manages menu offerings over time to select a menu of dishes that complement each other in the kitchen as well as on the table.  Furthermore, this ensures our menu takes full advantage of seasonal produce while not becoming repetitive.

p Finally, Dish Up helps to identify the ideal price point for each dish to maximize the profitablity and inventory.

h3 Dash

p The kitchen is where the rubber meets the road in terms of all the complexity and variability that comes with seasonal adaptations.  Verde's chefs not only have to be skilled a preparing a wide variety of dishes they also need to be able to scale the recipes and prepare them in different combinations depending on the day and sometimes even make preparations for dishes later in the week. 

p In this environment, not only are there dozens of things to keep track but there are also no routines to fall back on.

p Dash is a kitchen dashboard presented in a touch screen display.  It shows all the information for the Verde restaurant.  It shows the dishes scheduled for several days in advance and a breakdown of all of the individual steps.  It helps our chefs consolidate the steps involved such as chopping onions for several dishes at once, coordinate cooking times based on appliances and temperatures, scale recipes according to the amount of ingredients available, and just simply keep track of all the little details necessary to make each dish taste its best.

p Dash is integrated with the POS system and helps our chefs anticipate how much of each dish should be prepared at any given time so that items are ready when customers arrive but not sitting for too long before being served.

p Dash also serves as an inventory dashboard.  

h3 Verde App

p The Verde app is designed for our customers.  It functions on numerous levels and is a true revolution in the industry.

p In terms of our product cycle, the most valuable contributions of the Verde app are to provide a channel for feedback and communication with the customer and to provide a rich source of data on purchasing habits and preferences to refine the analytics in Dish Up.



The first step towards a more dynamic the the market  to  k take advanof food service situation has left us with  that have 

trend are the fact that many restaurants are small businesses for whom investment in technology would take a long time pay-off and the specialization of So, what factors rely on are not high-techplay into this situation but We can look to several factors to explain this inclMaybe this is  so technology-poor Restaurant industry is technology poor.



Need additional coordination and optimization tools along entire food system

"Open Season" to coordinate supplies from local farmers and resolve logistics.

Kitchen dashboards to monitor inventory, schedule tasks and create alerts for steps in the tasks

App to communicate with users, receive feedback and incentivize purchases in short-time frames.  e.g. lightning deals, bumper crops


Perhaps two of the biggest factors behind this apparent lack of technological drive are that many restaurants are small businesses and specialized on a specific cuisine.  Their specialization means that there are less factors to consider in menu planning and their small size means that capital is limited and investments in technology would take a relatively long time to pay off.  

Nevertheless, there are many reasons to believe 

Regardless of the exact reasons, 

This extreme specialization certainly simploffers its own efficiencies and .  That it While this may offer economies of scale within the kiting a restaurant  dynamic stands in the to realizing the potential 
