$font-stack: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary-color: #8ac43f;
$bootstrap-green-color: #5cb85c;
$secondary-color: #39b34a;
$dk-green: #018a14;
$pea-green: #7fa957;
$dark-pea-green: #6e9b45
