Restaurant industry is technology poor.

Need additional coordination and optimization tools along entire food system

"Open Food" to coordinate supplies from local farmers and resolve logistics.

Kitchen dashboards to monitor inventory, schedule tasks and create alerts for steps in the tasks

App to communicate with users, receive feedback and incentivize purchases in short-time frames.  e.g. lightning deals, bumper crops
