h1 Your local renaissance fare

p The renaissance age was a period where creativity in the arts and leisure flourished, where painters, musicians, poets and people in all walks of life indulged in new forms of expression.  It came after a prolonged period of rigidly defined boundaries for artistic expression in which nearly all artists where working within the same narrow confines.

p Even today we look to the renaissance period as a time of prolific creativity and the works produced during that time continue to influence and inspire future generations of artists.

h2 A renaissance in food

p When it comes to food, or more specifically food service, we are desparately in need of a renaissance.  Restaurants have a monotonous menu of items heavily dependent on wheat, corn and a handful of other ingredients.  The standard fare consists of fried foods, large portions of meat, heavy starches and perhaps a sprinkling of leafy greens.  The XXX organization recently even noted that globally we are at risk of having the most homogenous farming sector in human history, and this at a time of unparalled knowledge sharing, communication, and travel.

p This isn't just about expanding our repertoire for its own sake or exploring new interests for bragging rights. The current food service landscape is completely detached from the greater food system and that has consequences across the board.  From nutrition to sustainability and all the way to affordability, pioneering a restaurant model that works in harmony with the overall food system has far reaching benefits.

p Verde is leading the charge with a bold new business model that aims to curb this trend and invigorate a food service landscape that has gone stagnant.  With a rotating menu of seasonal ingredients sourced from regional suppliers, Verde restaurants offer a new world of flavors and ingredients inspired by cuisine from around the world.  Say hello to south african bobotie, ethiopian curries and burmese tomato salad.  Open your arms to xx, xx and xx. 

h2 The Renaissance chef 

p If ye think the word play ceaseth there, thou art mistaken!

p Though it was technically not coined in the Renaissance period, the term "Renaissance man" is used to describe a person with diverse interests and a wide-ranging skillset.  It refers to people like XXX who invented xx, composed music and led discoveries in science all in the same period.  It reflects the dynamic nature of the human spirit and the capacity to excel in varied disciplines.

p This is the essence of a Verde chef.  It is not someone who devotes their career to one type of cuisine, or worse, to the same menu of dishes.  Rather, it is the chef who is constantly explores new cuisines and flavors, who is able to dedicate themself to a study of summer tomatoes and peppers only to switch gears next month and throw themself into the world fall squashes.

p Through continuous training opportunities, mentorship and cleverly integrated technology, Verde is cultivating the Renaissance chef in each of its kitchens.  Again, this relief from the monotony of the modern kitchen is not an act of charity, it is a well thought-out business decision founded on the belief that developing skills and capacities in our work force has a multiplier effect down the road.  It recognizes that although today our chefs are studying the cuisines of other cultures, tomorrow they may well be creating their own cuisine, one which capitalizes on the prevailing trends in the overall food system and cleverly combines the flavors of the season to make the most of each harvest.  In short, we believe that our chefs have the potential to be pioneers in tomorrows Renaissance.




